<%- partial('_partial/head') %>
<body>
  <div id="container">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <section id="main" class="outer"><%- body %></section>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
    <%- partial('_partial/dice') %>
  </div>
  <script type="text/javascript">
    // 🎲
    var dice = document.body.querySelector('#dice')
    dice.addEventListener('click', function() {
      dice.style && (dice.style.display = 'none')
    });
  </script>
</body>
</html>
